{% include "fair_collection/base.html" %}
{%load static %}
{% block content %} 

<main class="content px-3 py-2">
  <div class="container-fluid">
    <div class="mb-3">
      <h4>Member Dashboard</h4>
    </div>


    <div class="row">
      <div class="col-1 col-md-12 d-flex">
        <div class="card ">
          <div class="card-body p-0 ">
            <div class="row  w-100">
              <div class="col-6">
                <div class="p-3 m-0">
                  Welcome, {{ fname }},
                     </br>There are few instructions that must be followed, Otherwise your profile may banned and amount not refund. </br>
                    Thank You {{fname}}</br> 
                    Regards,</br>
                    The Digital Committee Team.
                  
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
  {%endblock%}