{% include "fair_collection/base2.html" %}
<style>
body{ 
 background-image:linear-gradient(rgb(255 255 255 / 40%),rgb(255 248 248 / 40%)),url(https://png.pngtree.com/png-clipart/20230104/original/pngtree-blue-neon-frame-png-image_8865604.png);  
 background-repeat:no-repeat; 
 background-attachment: fixed;
 background-position:center;
 background-size:70%;
 
} 
</style>
{% block content %} 
          <div class="content">
            <h2>SAVE YOUR MONEY</h2>
            <p>"Welcome to Digital Committee, </br>Join Digital Committee for a seamless journey in financial collaboration!"</p>
             {% comment %} your ultimate platform for hassle-free committee management!<br> {% endcomment %}
                 {% comment %} Choose your package, enter your details, and make monthly contributions.<br>
                  Every participant receives a unique random ID, and the winner is announced on this random ID.<br>
                   Check the results, anticipate your winning month, and collect your well-deserved rewards.<br>
                     {% endcomment %}
          </div>
    </div>
  
{% endblock %}
 
