{% include "fair_collection/base2.html" %}
<style>
  .inup {
   
    text-decoration: none;
    color:  #126180;

    {% comment %} text-transform: uppercase; {% endcomment %}
}

.inup:hover{
  color:green;
  
}

</style>
{% block content %} 
          <div class="content">
            <h2>Welcome to Digital Committee</h2>
            <p>"Safe for Save" </br>Join Digital Committee for a seamless journey in financial collaboration!</p> 
            
            <a class="inup" href="/signup"> SignUp </a> &nbsp &nbsp
            <a class="inup" href="/signin"> SignIn </a>
             {% comment %} your ultimate platform for hassle-free committee management!<br> {% endcomment %}
                 {% comment %} Choose your package, enter your details, and make monthly contributions.<br>
                  Every participant receives a unique random ID, and the winner is announced on this random ID.<br>
                   Check the results, anticipate your winning month, and collect your well-deserved rewards.<br>
                     {% endcomment %}
          </div>
    </div>
  
{% endblock %}
 
