{% include "fair_collection/base.html" %}

{% block content %}
<main class="content px-3 py-2">
  <div class="container-fluid">
    <div class="mb-3">
      <h4>Member Dashboard</h4>
    </div>


    <div class="row">
      <div class="col-12 col-md-6 d-flex">
        <div class="card flex-fill border-0 illustration">
          <div class="card-body p-0 d-flex flex-fill">
            
          </div>
        </div>
      </div>
     
      
       <div class="card border-0">
        <div class="card-header">
          <h5 class="card-title">
          Welcom 
          </h5>
        </div>
        <div class="card-body">
          <table class="table">
            
           
          </table>
        </div>
      </div> 
    </div>
</main>







{% endblock%}